<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="ru.testhf.srv3.h37945.domain.User" />
        <mapping class="ru.testhf.srv3.h37945.domain.Request" />
        <mapping class="ru.testhf.srv3.h37945.domain.Game" />
        <mapping class="ru.testhf.srv3.h37945.domain.Field" />
    </session-factory>
</hibernate-configuration>